.banner {
    display: flex;
    flex-direction: column;
    gap: 4em;
    padding-bottom: 2em;
}

.banner__conteudo {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.banner__titulo span {
    color: var(--laranja);
    text-shadow: 0px 0px 6px #FF6100;
}

.banner__img {
    border-radius: 0 1em 1em 0;
    width: 100%;
}

@media screen and (min-width: 768px){
    .banner {
        align-items: center;
    }

    .banner__conteudo {
        gap: 3em;
        width: 80%;
    }
}

@media screen and (min-width: 1024px){
    .banner {
        flex-direction: row;
        gap: 2em;
        max-width: 1200px;
        width: 100%;
    }

    .banner__conteudo {
        width: 40%;
    }
}