.site {
    display: flex;
    flex-direction: column;
    gap: 4em;
    padding: 4em 0;
}

.site .site__titulo {
    color: var(--laranja);
}

.site__lista {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.site__icon {
    filter: drop-shadow(0px 0px 8px var(--laranja));
    color: var(--branco);
    font-size: 3em;
}

.site__item {
    background: linear-gradient(130.36deg, #2A82C0 27.58%, #005274 93.07%);
    box-shadow: 0px 0px 20px var(--laranja);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
}

.site__chamada {
    display: flex;
    flex-direction: column;
    gap: 2em; 
}

.site__chamada .site__chamada--span {
    font-weight: 500;
    text-shadow: 0px 0px 10px var(--laranja);
}

@media screen and (min-width: 768px){
    .site {
        align-items: center;
    }
    .site__lista, .site__chamada {
        gap: 3em;
        width: 80%;
    }
}

@media screen and (min-width: 1024px){
    .site {
        max-width: 1200px;
        width: 100%;
    }

    .site__lista {
        align-items: stretch;
        flex-direction: row;
        gap: 2em;
        justify-content: space-between;
        width: 100%;
    }

    .site__item {
        gap: 2em;
        padding: 2em 1em;
        width: calc(100% / 3);
    }

    .site__chamada {
        width: 100%;
        gap: 2em;
    }
}

@media screen and (min-width: 1280px){
    .site__chamada {
        width: 50%;
    }
}